[submodule "foundrytuts/foundry-simplestorage/lib/forge-std"]
	path = foundrytuts/foundry-simplestorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundrytuts/foundry-fund-me/lib/forge-std"]
	path = foundrytuts/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
